.input_text{
	width: 15%;
	text-align: center;
	font: 12pt/10pt Georgia;
	border: 1px solid #DDA0DD;
	background: #DDA0DD;
	border-radius: 8px;
}
.button{
	width: 7%;
	font: bold 10pt/8pt Georgia;
	padding: 6px 10px 4px 10px;
	border: 1px solid #8A2BE2;
	background: #DDA0DD;
	border-radius: 17px;
}
p{
    padding: 0 10px 0 10px;
	font: bold 10pt/8pt Verdana;
}
a:link{
	font: bold 10pt/8pt Verdana;
	color: #DDA0DD;
	text-decoration: none;
}
a:hover{
	font: bold 10pt/8pt Verdana;
	color: #DDA0DD;
	text-decoration: underline;
}
a:visited{
	color: #8A2BE2;
	text-decoration: none;
}
a:active{
	font: bold 10pt/8pt Verdana;
	color: red;
	text-decoration: underline;
}
table{
	table-layout: auto;
	border-collapse: collapse;
	background-color: #DDA0DD;
	border: 1px solid grey;
}
th{
	border-collapse: collapse;
	border: 1px solid grey;
	padding: 5px 10px;
	font: 12pt/10pt Verdana;
}
td{
	border-collapse: collapse;
	border: 1px solid grey;
	padding: 5px 10px;
	font: 12pt/10pt Verdana;
}
input[type=checkbox]:checked + label:before {
    content: "\2713";
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
    font-size: 15px;
    color: #f3f3f3;
    text-align: center;
    line-height: 15px;
}


